body{
    background-color: #F2F2F2;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    padding: 0 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

#pre-order-header,
#pre-order-main{
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #162542;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#pre-order-header{
    color: #162542;
    background-color: #E8EFF2;
}

#pre-order-main{
    color: #FFFFFF;
    background-color: #F16718   ;
}

.typemaster{
    margin: 40px 0;
}

#center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typemaster h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #162542;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.typemaster p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
    margin-bottom: 32px;
}

.mechanical{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.mechanical h1{
    color: #162542;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform:uppercase;
    max-width: 255px;
}

.mechanical p{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 327px;
    margin-top: 24px;
}

.release{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #7B8BAD;
}

img{
    max-width: 100%;
}

#keyboard-mobile{
    max-width: 100%;
    border-radius: 20px 0 0 20px;
    margin: 24px -24px 24px 24px; 
}

#keyboard-tablet,
#keyboard-desktop,
#glass-tablet,
#glass-desktop,
#phone-tablet,
#phone-desktop{
    display: none;
}

.container-2{
    display: grid;
    grid-template-columns: 0.5fr 0.8fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 20px;
}

.grid-1-container{
    grid-area: 1 / 1 / 2 / 2 ;
    border-radius: 0 20px 20px 0;
    margin-left: -54px;
    background-color: #F16718;
}

.grid-1{
    height: 100%;
    border-radius: 0 20px 20px 0;
    opacity: 50%;
}

.grid-2{
    grid-area: 1 / 2 / 2 / 3 ;
    border-radius: 20px;
    height: 100%;
}

.grid-3{
    grid-area: 2 / 1 / 3 / 3 ;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.card h2{
    color: #162542;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 48px 0 24px 0;
}

.card p{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 327px;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
}

.container-3{
    margin-top: 111px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

footer h3{
    color: #7B8BAD;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.reserved{
    font-weight: 500;
}