body{
    background-color: #F2F2F2;
    font-family: 'Barlow', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#pre-order-header{
    color: #162542;
    font-weight: 700;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #E8EFF2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.section-1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    gap: 32px;
    
}

.section-1 h1{
    color: #162542;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    width: 100%;
}

.section-1 h2{
    color: #7B8BAD;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.section-1 p{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.release{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#pre-order-main{
    color: #FFFFFF;
    font-weight: 700;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #F16718;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.keyboard{
    float: right;
    width: 93%;
    margin: 64px 0 0 24px;
    border-radius: 20px 0 0 20px;
}
